:root {
    --main-background-color: #{$white-color};
    --shadow-color: #{$light-gray-color};
    --footer-background-color: #{$sec-bg-color};
    --footer-text-color: #{$gray-color};
    --accent-color: #{$orange-color};
    --text-color: #{$black-color};
    --toggle-btn-color: #{$white-color};
    --modal-window-bg-color: #{$white-color};
    --transition-delay: 1s;
}

