//Color variables
$black-color: #000000;
$white-color: #ffffff;
$gray-color: #545454;
$orange-color: #FF6B08;
$prim-bg-color: #E5E5E5;
$sec-bg-color: #F7F7F7;



//Fonts variables
$font: Roboto, sans-serif;

