<div id="about-us" class="about-us__visible">
    <div class="js-modal-about-us gallery">
        <h1 class="our-team">Работа нашей команды</h1>
        <ul class="about-us__position">
            <li class="member-photo__position">
                <a href="./images/member_logo.jpg"><img class="member-photo" src="./images/member_logo.jpg"
                            alt="AlexNumo" /></a>
                <div class="info-about-member">
                    <h2>AlexNumo</h2>
                    <ul class="info-about-member-work">
                        <li class="about-us-marker"><p>Падающий снег</p></li>
                        <li class="about-us-marker"><p>Секция о нас</p></li></ul>
                </div>
            </li>
        </ul>
    </div>
</div>