<!-- Slider main container -->
<div class="swiper-position swiper-background swiper-anime" style="display: none;">
    <h2>Работа нашей команды</h2>
    <svg class="close-cross js-swiper-close" alt="img">
        <use href="./images/icons.svg#icon-Vector"></use>
    </svg>
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="member-info-position">
                    <img class="member-photo" src="./images/member_logo.jpg" width="20%" height="20%" alt="AlexNumo"/>
                    <h3>AlexNumo</h3>
                        <ul class="info-about-member-work">
                            <li class="about-us-marker">Падающий снег</li>
                            <li class="about-us-marker">Секция "Работа нашей команды"</li>
                        </ul>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="member-info-position">
                    <img class="member-photo" src="./images/member_logo.jpg" width="20%" height="20%" alt="AlexNumo" />
                    <h3>Sergyi</h3>
                    <ul class="info-about-member-work">
                        <li class="about-us-marker">Падающий снег</li>
                        <li class="about-us-marker">Секция работа нашей команды</li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>