<header class="header">
  <div class="wrapper">
    <div class="buttons-wrapper">

      <select
        class="language-select"
        name="language"
        onchange="localStorage.setItem('language', JSON.stringify(`${this.options[this.selectedIndex].value}`));location.reload()"
      >
        <option value="ru">Ru</option>
        <option value="en">En</option>
        <option value="uk">Uk</option>
      </select>
      
      <label id="switch" class="switch">
      <input class="switcher" type="checkbox" id="slider" checked />
        <span class="slider round"></span>
      </label>
    </div>

    <div class="header__links-container">
      <a href="#" class="header__logo">
        <svg class="logo__image" width="24" height="24">
          <use href="../src/images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span></a
      >
      <ul class="header__links">
        <li>
          <a href="#" class="header__home-link header__link--active">Home</a>
        </li>
        <li>
          <a href="#" class="header__my-library-link">My library</a>
        </li>
      </ul>
    </div>
    <form action="" class="header__form">
      <label class="header__input-label" for="search"></label>
      <div class="header__input-thumb">
        <input type="text" class="header__input" name="search" placeholder="Поиск фильмов" />
        <button type="submit" class="search-btn">
          <svg width="12" height="12">
            <use href="../src/images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>
    <div class="header__button-container">
      <button class="header__button show-watched-btn header__button--active" type="button">
        Watched
      </button>
      <button class="header__button show-queue-btn" type="button">Queue</button>
    </div>

    
  </div>
</header>
