<div class="trailer__backdrop visually-hidden" data-trailer-modal>
  <div class="trailer__modal">
    <button class="close-trailer-btn" type="button">
      <svg class="close-button__icon" width="18px" height="18px">
        <use href="./images/icons.svg#cross"></use>
      </svg>
    </button>
    <div class="trailer__thumb"></div>
  </div>
</div>

<ul class="modal__list">
  <li class="modal__list-item">
    Vote / Votes
    <div class="modal__list-item">
      <span class="rating-span">${rating}</span>/<span>${count}</span>
    </div>
  </li>

  <li class="modal__list-item">
    Popularity<span class="modal__list-item_value">${popularity}</span>
  </li>

  <li class="modal__list-item">
    Original Title<span class="modal__list-item_value original-title">${original}</span>
  </li>

  <li class="modal__list-item">Genres<span class="modal__list-item_value">${genres}</span></li>
</ul>
