.language-select {
  position: absolute;
  top: -35px;
  right: 0;
  margin-left: auto;
  display: block;
  width: 55px;
  height: 30px;
  
  border-radius: 5px;
  background-color: $orange-color;
  font-weight: 700;
}
