.language-select {
  position: absolute;
  right: 15px;
  top: 80px;
  display: inline-block;
  width: 55px;
  height: 30px;
  z-index: 30;
  border-radius: 5px;
  background-color: $orange-color;
  font-weight: 700;
}
