.swiper-fix {
  overflow: hidden;
}

.swiper-position {
  width: 800px;
  height: 800px;
  position: fixed;
  top: 25%;
  left: 25%;
  margin: auto;
  z-index: 2;
  // background-color: transparent;
  border-radius: 30px;
  box-shadow: 2px 12px 183px 200px rgba(46, 39, 39, 1);
  -webkit-box-shadow: 2px 12px 183px 200px rgba(46, 39, 39, 1);
  -moz-box-shadow: 2px 12px 183px 200px rgba(46, 39, 39, 1);
}

.swiper-active {
  display: block !important;
}

.swiper {
  width: 100%;
  height: 100%;
  position: static;
}

.member-photo {
  border-radius: 600px;
  position: relative;
  width: 200px;
  height: 200px;
}

.swiper-background {
  background-color: rgba($color: #e4dcdcf8, $alpha: 1);
}

.swiper-background h2 {
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
}

.member-info-position {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 100px;
}

.member-info-position h3 {
  padding-left: 50px;
  font-size: 25px;
  width: 500px;
}

.info-about-member-work {
  position: relative;
  top: 40px;
  right: 210px;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us-marker {
  list-style-type: disc !important;
}

// .swiper-anime {
//   transform: translateY (10%);
//   animation: ani 1s forwards;
// }

// @keyframes ani {
//   0% {
//     transform: translateX(0%);
//   }
//   100% {
//     transform: translateY(-150%);
//   }
// }
