.main {
    padding-top: 60px;
    padding-bottom: 50px;
}
.film-list {
    @media screen and (min-width: 767px){
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }

}
.film-list__item:not(:last-child) {
    @media screen and(max-width: 767px){
        margin-bottom: 20px;

    }
}

.film-list__item {
    @media screen and(min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2);
        margin-top: 30px;
        margin-left: 30px;
    }
    @media screen and(min-width: 1024px) {
        flex-basis: calc((100% - 90px) / 3);
    }
    @media screen and(min-width: 1440px) {
        flex-basis: calc((100% - 120px) / 4);
    }
        
}

.list-item__link {
    display: block;
    text-decoration: none;

    
}

.list-item__thumb {
    height: 440px;
    border-radius: 5px;
    overflow: hidden;
}

.list-item__img {
    height: 100%;
    
    transform: scale(1);
    transition: transform 500ms ease-out;
    
    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.list-item__content {
    padding-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;

    color: $black-color;
}

.list-item__text {
    
    
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    /* or 133% */


    color: $orange-color;
}