.tui-pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  height: auto !important;
  @media screen and (max-width: 768px) {
    gap: 1px;
  }
  }

.tui-page-btn {
  border: none !important;
  border-radius: 5px;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  color: var(--text-color) !important;
  vertical-align: middle;
  font-size: 15px !important;
  line-height: 1.5 !important;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 375px) {
    font-size: 13px !important;
    width: 30px !important;
    height: 30px !important;
  }

  &:hover,
  &:focus {
    background-color: $light-dark-bg-color !important;
    color: $white-color !important;
  }
  .dark &:hover {
    
    background-color: $white-color !important;
    color: $black-color !important;
  }
  &.tui-is-selected {
    background-color: $orange-color !important;
    color: $white-color !important;
  }

  @media screen and (max-width: 768px) {
    &.tui-next-is-ellip,
    &.tui-prev-is-ellip {
      display: none !important;
    }
    &.tui-prev,
    &.tui-next {
     margin: 0 !important;
     gap: 5px;
      
    }
  }
}




