.backdrop {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color var(--modal-tr-param), transform var(--modal-tr-param),
    border-radius var(--modal-tr-param), visibility var(--modal-tr-param),
    opacity var(--modal-tr-param);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0, 0);
  border-radius: 50%;
  pointer-events: none;
}

.trailer-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  max-height: 100vh;
  overflow-y: auto;
  padding: 40px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    max-width: 530px;
  }
}
